/* Media query pour résolution smartphone */
@media screen and (max-width: 768px) {
    /* Conteneur du titre*/
    .title-container {
        display: flex;
        align-items: center;
    }

    /* Style du titre*/
    #title {
        display: flex;
        text-align: center;
        font-size: 50px;
        font-family: "Pacifico", cursive;
        color: rgb(127, 212, 0);
    }

    /* Style du logo */
    #logo {
        width: auto;
        height: auto;
    }

    /* Style du conteneur de la navbar */
    .navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(31, 31, 31);
        gap: 20px;
    }

    /* Style des liens dans la navbar */
    .course-link {
        text-decoration: none;
        color: white;
    }

    /* Style des h2 */
    h2 {
        margin: auto;
        background-color: rgb(127, 212, 0);
        color: white;
        max-height: fit-content;
        font-family: "Pacifico", cursive;
    }

    /* Conteneur du footer */
    .footer-container {
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        gap: 10px;
    }

    /* Liens contenu dans le footer */
    .footer-link {
        text-decoration: none;
        color: grey;
    }
}

/* Media query pour résolution tablette */
@media screen and (min-width: 769px) {
    /* Conteneur du titre*/
    .title-container {
        display: flex;
        align-items: center;
    }

    /* Style du titre*/
    #title {
        display: flex;
        text-align: center;
        font-size: 50px;
        font-family: "Pacifico", cursive;
        color: rgb(127, 212, 0);
    }

    /* Style du logo*/
    #logo {
        width: auto;
        height: auto;
    }

    /* Conteneur de la navbar*/
    .navbar-container {
        display: flex;
        justify-content: space-around;
        background-color: rgb(31, 31, 31);
    }

    /* Conteneur des liens dans la navbar */
    .course-link {
        text-decoration: none;
        color: white;
    }

    /* Conteneur de la partie main */
    .main-container {
        display: flex;
        flex-direction: row;
    }

    /* Conteneur de la section Nos formations */
    .course-container {
        width: 25%;
    }

    /* Conteneur de la section Détail */
    .info-container {
        width: 75%;
    }

    /* Style des h2 */
    h2 {
        margin: auto;
        background-color:  rgb(127, 212, 0);
        font-family: "Pacifico", cursive;
        color: white;
    }

    /* Conteneur du footer */
    .footer-container {
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        gap: 10px;
    }

    /* Liens contenu dans le footer */
    .footer-link {
        text-decoration: none;
        color: grey;
    }
}

/* Media query pour résolution suppérieur à 992px*/
@media screen and (min-width: 993px) {
    /* Style du titre */
    #title {
        text-align: center;
        margin-left: 5%;
        font-size: 50px;
        font-family: "Pacifico", cursive;
        color: rgb(127, 212, 0);
    }

    /* Style du logo */
    #logo {
        width: auto;
        height: auto;
    }

    /* Style du conteneur de la navbar*/
    .navbar-container {
        display: flex;
        justify-content: space-around;
        background-color: rgb(31, 31, 31);
    }

    /* Style des liens contenu dans la navbar*/
    .course-link {
        text-decoration: none;
        color: white;
    }

    /*Conteneur de la partie Nos formations*/
    .course-container {
        width: 100%;
    }

    /*Conteneur de la partie Détail*/
    .info-container {
        width: 100%;
    }

    /*Conteneur du main*/
    .main-container{
        display: flex;
        flex-direction: column;
    }

    /* Style des h2 */
    h2 {
        width: 100%;
        margin: auto;
        background-color: rgb(127, 212, 0);
        color: white;
        max-height: fit-content;
        font-family: "Pacifico", cursive;
    }

    /* Conteneur du footer */
    .footer-container {
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        gap: 10px;
    }
    
    /* Liens contenu dans le footer */
    .footer-link {
        text-decoration: none;
        color: grey;
    }
}
